body{
    background: linear-gradient(green, purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Konstatering{
    background-color: skyblue;
}
.listen{
    text-decoration: underline;
    text-decoration: double;
    color: rgb(33, 10, 0);

}
p{
    border-style: solid;
    border-left-style: double;
    border-right-style: double;
    border-color: black;
    border-width: 2px;
    border-radius: 13px;
    background: linear-gradient(to right, white, black);
    padding: 8px;
    
}