body{
    background: linear-gradient(to up red yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Konstatering{
    background-color: rgb(237, 60, 24);
}
.listen{
    text-decoration: underline;
    text-decoration: double;
    color: rgb(33, 10, 0);

}
p{
    border-style: dashed;
    border-left-style: double;
    border-right-style: double;
    border-color: black;
    border-width: 2px;
    border-radius: 13px;
    
}