body{
    background-color: rgb(104, 55, 22)
}
.Konstatering{
    background-color: rgb(237, 60, 24);
}
.listen{
    text-decoration: underline;
    text-decoration: double;
    color: rgb(33, 10, 0);

}
p{
    border-style: double;
    border-color: black;
    border-width: 2cm;
    border-left-color: rgb(104, 55, 22);
    border-right-color: rgb(104, 55, 22);
}